/*   V A R I A B L E S   */
*:root {
	/* Basic colours */
	--light-white:     #FFF;
	--light-black:     #EEE;
	--light-red:       #F99;
	--light-orange:    #FC9;
	--light-yellow:    #FF9;
	--light-puce:      #CF9;
	--light-green:     #9F9;
	--light-turquoise: #9FC;
	--light-cyan:      #9FF;
	--light-azure:     #9CF;
	--light-blue:      #99F;
	--light-violet:    #C9F;
	--light-magenta:   #F9F;
	--light-fuchsia:   #F9C;
	--dark-white:      #666;
	--dark-black:      #444;
	--dark-red:        #933;
	--dark-orange:     #963;
	--dark-yellow:     #993;
	--dark-puce:       #693;
	--dark-green:      #393;
	--dark-turquoise:  #396;
	--dark-cyan:       #399;
	--dark-azure:      #369;
	--dark-blue:       #339;
	--dark-violet:     #639;
	--dark-magenta:    #939;
	--dark-fuchsia:    #936;
	/* Other variables */
	--bg-default: var(--light-white);
	--bg-shade:	  var(--light-black);
	--bg-link:	  var(--light-azure);
	--bg-visited: var(--light-violet);
	--fg-default: var(--dark-black);
	--fg-link:	  var(--dark-azure);
	--fg-visited: var(--dark-violet);
	--font-sans:  sans-serif;
	--font-serif: serif;
	--font-mono:  monospace;
	--indent:	     2em;
	--line-height:   1.5;
	--pad-full:      1em;
	--pad-full-neg:    calc(var(--pad-full) * -1);
	--pad-half:	       calc(var(--pad-full) /  2);
	--pad-half-neg:	   calc(var(--pad-full) / -2);
	--pad-quarter:     calc(var(--pad-full) /  4);
	--pad-quarter-neg: calc(var(--pad-full) / -4);
	--pad-double:      calc(var(--pad-full) *  2);
	--pad-double-neg:  calc(var(--pad-full) * -2);
	--shadow-color:	 #0004;
	--shadow-width:  2px;
}

/*   D E F A U L T S   */
* {
	background: var(--bg-default)00;
	border: 0px solid var(--fg-default);
	border-collapse: collapse;
	border-spacing: 0px;
	box-sizing: border-box;
	color: var(--fg-default);
	font: 100% var(--font-sans);
	line-height: var(--line-height);
	margin: 0px;
	overflow: auto;
	padding: 0px;
	text-align: justify;
	text-decoration: none;
	text-indent: 0px;
	vertical-align: top;
	width: auto;
	z-index: 0;
}

/*   E L E M E N T S   */
a {
	text-decoration: none;
}
a:link {
	color: var(--fg-link);
}
a:visited {
	color: var(--fg-visited);
}
a:hover {
	border-radius: var(--pad-half);
	margin: 0px var(--pad-quarter-neg);
	padding: 0px var(--pad-quarter);
}
a:link:hover {
	background: var(--fg-link);
	color: var(--bg-default);
}
a:visited:hover {
	background: var(--fg-visited);
	color: var(--bg-default);
}
a:active {
	box-shadow: 0px 0px var(--shadow-width) calc(var(--shadow-width) / 2) var(--shadow-color) inset;
}
b {
	font-weight: bold;
}
body {
	background: var(--bg-shade);
	bottom: 0;
	box-shadow: 0px 0px calc(var(--shadow-width) * 2) calc(calc(var(--shadow-width) * 2) / 2) var(--shadow-color) inset;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}
button, .button {
	background: var(--fg-default);
	border-radius: var(--pad-full);
	box-shadow: 0px 0px var(--shadow-width) calc(var(--shadow-width) / 2) var(--shadow-color);
	color: var(--bg-default);
	margin: var(--shadow-width) var(--shadow-width) calc(var(--shadow-width) + var(--pad-quarter)) var(--shadow-width); /* TODO: Should be var(--shadow-width) all around. */
	padding: var(--pad-quarter) var(--pad-half);
}
button:hover, .button:hover {
	background: var(--fg-link);
	color: var(--bg-default);
}
button:active, .button:active {
	box-shadow: 0px 0px var(--shadow-width) calc(var(--shadow-width) / 2) var(--shadow-color) inset;
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 112.5%;
}
h4 h5 h6 {
	font-weight: bold;
}
hr {
	border: 1px solid var(--fg-default);
	display: block;
	margin: var(--pad-quarter) auto var(--pad-quarter) auto;
}
i {
	font-style: italic;
}
input {
	background: var(--bg-shade);
	border-radius: var(--pad-full);
	box-shadow: 0px 0px var(--shadow-width) calc(var(--shadow-width) / 2) var(--shadow-color) inset;
	margin: var(--pad-quarter-neg) 0px 0px 0px;
	padding: var(--pad-quarter) var(--pad-half);
}
s {
	text-decoration: line-through;
}
select {
	box-shadow: 0px 0px var(--shadow-width) calc(var(--shadow-width) / 2) var(--shadow-color);
}
small {
	font-size: 75%;
}
textarea {
	background: var(--bg-shade);
	border-radius: var(--pad-full);
	box-shadow: 0px 0px var(--shadow-width) calc(var(--shadow-width) / 2) var(--shadow-color) inset;
/*	font: 100% var(--font-mono); */
	margin: var(--pad-quarter-neg) 0px 0px 0px;
	padding: var(--pad-quarter) var(--pad-half);
}
u {
	text-decoration: underline;
}

/*   G R I D   */
.grid {
  display: inline-grid;
}
.spreadsheet {
}
.spreadsheet th {
	background: var(--fg-default);
	border: 1px solid var(--fg-default);
	color: var(--bg-default);
}
.spreadsheet td {
	border: 1px solid var(--fg-default);
}

/*   G A P P I N G   */
.gap-none {
	grid-gap: 0px ! important;
}
.gap-quarter {
	grid-gap: var(--pad-quarter) ! important;
	margin: var(--pad-quarter-neg);
}
.gap-half {
	grid-gap: var(--pad-half) ! important;
	margin: var(--pad-half-neg);
}
.gap-full {
	grid-gap: var(--pad-full) ! important;
	margin: var(--pad-full-neg);
}

/*   P A D D I N G   */
.pad-none {
	padding: 0px ! important;
}
.pad-hor {
	padding: 0px var(--pad-full) 0px var(--pad-full) !important;
}
.pad-left {
	padding: 0px 0px 0px var(--pad-full) ! important;
}
.pad-right {
	padding: 0px var(--pad-full) 0px 0px ! important;
}
.pad-ver {
	padding: var(--pad-full) 0px var(--pad-full) 0px !important;
}
.pad-top {
	padding: var(--pad-full) 0px 0px 0px ! important;
}
.pad-bottom {
	padding: 0px 0px var(--pad-full) 0px ! important;
}
.pad-full {
	padding: var(--pad-full) !important;
}
.pad-half {
	padding: var(--pad-half) !important;
}
.pad-quarter {
	padding: var(--pad-quarter) !important;
}

/*   M A R G I N S   */
.mar-none {
	margin: 0px ! important;
}
.mar-hor {
	margin: 0px var(--pad-full) 0px var(--pad-full) !important;
}
.mar-left {
	margin: 0px 0px 0px var(--pad-full) ! important;
}
.mar-right {
	margin: 0px var(--pad-full) 0px 0px ! important;
}
.mar-ver {
	margin: var(--pad-full) 0px var(--pad-full) 0px !important;
}
.mar-top {
	margin: var(--pad-full) 0px 0px 0px ! important;
}
.mar-bottom {
	margin: 0px 0px var(--pad-full) 0px ! important;
}
.mar-full {
	margin: var(--pad-full) !important;
}
.mar-half {
	margin: var(--pad-half) !important;
}
.mar-quarter {
	margin: var(--pad-quarter) !important;
}

/*   C A R D S   */
.card {
	background: var(--bg-default);
	border-radius: var(--pad-full);
	box-shadow: 0px 0px var(--shadow-width) calc(var(--shadow-width) / 2) var(--shadow-color);
	margin: var(--shadow-width);
	overflow: hidden !important;
	padding: var(--pad-quarter) var(--pad-half);
}
.card img {
	box-shadow: 0px 0px var(--shadow-width) calc(var(--shadow-width) / 2) var(--shadow-color);
	margin: var(--shadow-width);
}
.card canvas {
	box-shadow: 0px 0px var(--shadow-width) calc(var(--shadow-width) / 2) var(--shadow-color);
	margin: var(--shadow-width);
}
.card h2 {
	background: var(--fg-default);
	color: var(--bg-default);
	margin: var(--pad-half-neg) 0px var(--pad-half) var(--pad-full-neg);
	overflow: hidden !important;
	padding: var(--pad-half) 0px var(--pad-quarter) var(--pad-full);
	width: calc(100% + var(--pad-double));
}
.card h2 a {
	background: var(--fg-default);
	color: var(--bg-link);
}
.card h2 a:hover {
	background: var(--bg-link);
	color: var(--fg-default);
}
.card h2 a:link {
	background: var(--fg-default);
	color: var(--bg-link);
}
.card h2 a:visited {
	background: var(--fg-default);
	color: var(--bg-visited);
}
.card h2 a:link:hover {
	background: var(--bg-link);
	color: var(--fg-default);
}
.card h2 a:visited:hover {
	background: var(--bg-visited);
	color: var(--fg-default);
}
.noCardH2 h2 {
	background: inherit !important;
	color: inherit !important;
	margin: inherit !important;
	overflow: inherit !important;
	padding: inherit !important;
	text-decoration: inherit !important;
	width: inherit !important;
}

/*   S T Y L E   */
.centered {
	margin: 0px auto 0px auto !important;
}
.list-style-circle * {
	list-style: circle inside !important;
	padding: 0px 0px 0px 1px !important;
	overflow-x: visible !important;
}
.mono {
	font-family: var(--font-mono) !important;
}
.sans {
	font-family: var(--font-sans) !important;
}
.serif {
	font-family: var(--font-serif) !important;
}
